body {
    font-family: $body-font-family;
    font-size: $base-font-size;
    font-kerning: normal;
    line-height: $base-line-height;
    color: getColor(grey-darken-2);
    height: 100%;
     /* Support for IE. */
     font-feature-settings: "liga" 0;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
}