.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  
    @include respond-above(sm) {
      max-width: 54rem;
    }
  
    @include respond-above(md) {
      max-width: 72rem;
    }
  
    @include respond-above(lg) {
      max-width: 96rem;
    }
  
    @include respond-above(xl) {
      max-width: 118.5rem;
    }
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.6rem;
    margin-right: -1.6rem;
  }
  
  /* ========== Responsive Design ========== */
  /*    xs  :  0 - 576      */
  /*    sm  :  576 - 767    */
  /*    md  :  768 - 992    */
  /*    lg  :  992 - 1159   */
  /*    xl  :  1200+        */
  
  .col {
    position: relative;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    min-height: 1px;
  }
  
  .col--xs-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  
  .col--xs-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  
  .col--xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .col--xs-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  
  .col--xs-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  
  .col--xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .col--xs-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  
  .col--xs-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  
  .col--xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  
  .col--xs-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  
  .col--xs-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  
  .col--xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  @include respond-above(sm) {
    .col--sm-1 {
      flex: 0 0 8.33333333%;
      max-width: 8.33333333%;
    }
  
    .col--sm-2 {
      flex: 0 0 16.66666667%;
      max-width: 16.66666667%;
    }
  
    .col--sm-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
  
    .col--sm-4 {
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
    }
  
    .col--sm-5 {
      flex: 0 0 41.66666667%;
      max-width: 41.66666667%;
    }
  
    .col--sm-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .col--sm-7 {
      flex: 0 0 58.33333333%;
      max-width: 58.33333333%;
    }
  
    .col--sm-8 {
      flex: 0 0 66.66666667%;
      max-width: 66.66666667%;
    }
  
    .col--sm-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
  
    .col--sm-10 {
      flex: 0 0 83.33333333%;
      max-width: 83.33333333%;
    }
  
    .col--sm-11 {
      flex: 0 0 91.66666667%;
      max-width: 91.66666667%;
    }
  
    .col--sm-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  @include respond-above(md) {
    .col--md-0 {
      max-width: 0;
    }
  
    .col--md-1 {
      max-width: 8.33333333%;
    }
  
    .col--md-2 {
      flex: 0 0 16.66666667%;
      max-width: 16.66666667%;
    }
  
    .col--md-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
  
    .col--md-4 {
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
    }
  
    .col--md-5 {
      flex: 0 0 41.66666667%;
      max-width: 41.66666667%;
    }
  
    .col--md-6 {
      max-width: 50%;
    }
  
    .col--md-7 {
      flex: 0 0 58.33333333%;
      max-width: 58.33333333%;
    }
  
    .col--md-8 {
      flex: 0 0 66.66666667%;
      max-width: 66.66666667%;
    }
  
    .col--md-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
  
    .col--md-10 {
      flex: 0 0 83.33333333%;
      max-width: 83.33333333%;
    }
  
    .col--md-11 {
      flex: 0 0 91.66666667%;
      max-width: 91.66666667%;
    }
  
    .col--md-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  @include respond-above(lg) {
    .col--lg-0 {
      max-width: 0;
    }
  
    .col--lg-1 {
      max-width: 8.33333333%;
    }
  
    .col--lg-2 {
      flex: 0 0 16.66666667%;
      max-width: 16.66666667%;
    }
  
    .col--lg-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
  
    .col--lg-4 {
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
    }
  
    .col--lg-5 {
      flex: 0 0 41.66666667%;
      max-width: 41.66666667%;
    }
  
    .col--lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .col--lg-7 {
      flex: 0 0 58.33333333%;
      max-width: 58.33333333%;
    }
  
    .col--lg-8 {
      flex: 0 0 66.66666667%;
      max-width: 66.66666667%;
    }
  
    .col--lg-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
  
    .col--lg-10 {
      flex: 0 0 83.33333333%;
      max-width: 83.33333333%;
    }
  
    .col--lg-11 {
      flex: 0 0 91.66666667%;
      max-width: 91.66666667%;
    }
  
    .col--lg-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  @include respond-above(xl) {
    .col--xl-0 {
      max-width: 0;
    }
  
    .col--xl-1 {
      max-width: 8.33333333%;
    }
  
    .col--xl-2 {
      flex: 0 0 16.66666667%;
      max-width: 16.66666667%;
    }
  
    .col--xl-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
  
    .col--xl-4 {
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
    }
  
    .col--xl-5 {
      flex: 0 0 41.66666667%;
      max-width: 41.66666667%;
    }
  
    .col--xl-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .col--xl-7 {
      flex: 0 0 58.33333333%;
      max-width: 58.33333333%;
    }
  
    .col--xl-8 {
      flex: 0 0 66.66666667%;
      max-width: 66.66666667%;
    }
  
    .col--xl-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
  
    .col--xl-10 {
      flex: 0 0 83.33333333%;
      max-width: 83.33333333%;
    }
  
    .col--xl-11 {
      flex: 0 0 91.66666667%;
      max-width: 91.66666667%;
    }
  
    .col--xl-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  