.c-button {
    $self: &;
    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: $heading-font-family;
    font-weight: 500;
    letter-spacing: 0.0892857143em;
    text-indent: 0.0892857143em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: $border-radius-root;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    outline: 0;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        color: inherit;
        border-radius: inherit;
        opacity: 0;
        pointer-events: none;
        background-color: currentColor;
        transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
    }

    &:not(#{$self}--outlined):not(#{$self}--text):hover::before {
        opacity: 0.08;
    }

    &:hover::before {
        opacity: 0.04;
    }

    &__content {
        display: inherit;
        flex: 1 0 auto;
        align-items: inherit;
        justify-content: inherit;
        position: relative;
        line-height: normal;
        color: inherit;
    }

    /*  ================================================================================
        Size
        ================================================================================ */
    &#{&}-size--default:not(#{$self}--fab):not(#{$self}--icon) {
        padding: 0 16px;
        min-width: 64px;
        height: 36px;
    }

    &#{&}-size--small:not(#{$self}--fab):not(#{$self}--icon) {
        padding: 0 12.4444444444px;
        min-width: 50px;
        height: 28px;
    }

    &#{&}-size--large:not(#{$self}--fab):not(#{$self}--icon) {
        padding: 0 19.5555555556px;
        min-width: 78px;
        height: 44px;
    }

    &#{&}-size--default,
    &#{&}-size--small {
        font-size: 1.4rem;
    }

    &#{&}-size--small {
        font-size: 1.2rem;
    }

    &#{&}-size--default:not(#{$self}--fab),
    &#{&}-size--small:not(#{$self}--fab) {
        .c-icon {
            font-size: 1.8rem;
        }
    }

    &#{&}-size--default:not(#{$self}--fab):not(#{$self}--icon),
    &#{&}-size--small:not(#{$self}--fab):not(#{$self}--icon),
    &#{&}-size--large:not(#{$self}--fab):not(#{$self}--icon) {
        .c-icon {
            margin-left: -.4rem;
            margin-right: .8rem;
        }
    }

    /*  Icon
        ======================================== */
    &#{&}--icon#{&}-size--default {
        width: 3.6rem;
        height: 3.6rem;
    }

    &#{&}--icon#{&}-size--xsmall {
        width: 2rem;
        height: 2rem;

        .c-icon {
            font-size: 1.8rem;
        }
    }

    &#{&}--icon#{&}-size--small {
        width: 2.8rem;
        height: 2.8rem;
    }

    &#{&}--icon#{&}-size--large {
        width: 4.4rem;
        height: 4.4rem;

        .c-icon {
            font-size: 2.8rem;
        }
    }

    &#{&}--icon#{&}-size--xlarge {
        width: 5.2rem;
        height: 5.2rem;

        .c-icon {
            font-size: 3.2rem;
        }
    }

    /*  Fab
        ======================================== */
    &#{&}--fab#{&}-size--default {
        width: 5.6rem;
        height: 5.6rem;
    }

    &#{&}--fab#{&}-size--xsmall {
        width: 3.2rem;
        height: 3.2rem;

        .c-icon {
            font-size: 1.8rem;
        }
    }
    
    &#{&}--fab#{&}-size--small {
        width: 4rem;
        height: 4rem;
    }
    
    &#{&}--fab#{&}-size--large {
        width: 6.4rem;
        height: 6.4rem;

        .c-icon {
            font-size: 2.8rem;
        }
    }

    &#{&}--fab#{&}-size--xlarge {
        width: 7.2rem;
        height: 7.2rem;

        .c-icon {
            font-size: 3.2rem;
        }
    }

    /*  ================================================================================
        Theme
        ================================================================================ */
    &#{&}-theme {
        &--primary {
            background-color: color(primary);
            border-color: color(primary);
        }

        &--secondary {
            background-color: color(secondary);
            border-color: color(secondary);
        }

        &--warning {
            background-color: color(warning);
            border-color: color(warning);
        }

        &--danger {
            background-color: color(danger);
            border-color: color(danger);
        }

        &--success {
            background-color: color(success);
            border-color: color(success);
        }
    }

    /*  ================================================================================
        Type
        ================================================================================ */
    &#{&}--contained#{&}-theme {
        &--primary {
            color: color(light);
        }

        &--secondary {
            color: color(light);
        }

        &--warning {
            color: color(light);
        }

        &--danger {
            color: color(light);
        }

        &--success {
            color: color(light);
        }
    }

    /*  Flat
        ======================================== */
    &#{&}--flat {}

    /*  Outlined
        ======================================== */
    &#{&}--outlined#{&}-theme {
        &--primary {
            color: color(primary);
        }

        &--secondary {
            color: color(secondary);
        }

        &--warning {
            color: color(warning);
        }

        &--danger {
            color: color(danger);
        }

        &--success {
            color: color(success);
        }
    }

    /*  Rounded
        ======================================== */
    &#{&}--rounded#{&}-theme {
        &--primary {
            color: color(light);
        }

        &--secondary {
            color: color(light);
        }

        &--warning {
            color: color(light);
        }

        &--danger {
            color: color(light);
        }

        &--success {
            color: color(light);
        }
    }

    /*  Depressed
        ======================================== */
    &#{&}--depressed {}

    /*  Raised
        ======================================== */
    &#{&}--raised {}

    /*  Text
        ======================================== */
    &#{&}--text#{&}-theme {
        &--primary {
            color: color(primary);
        }

        &--secondary {
            color: color(secondary);
        }

        &--warning {
            color: color(warning);

        }

        &--danger {
            color: color(danger);

        }

        &--success {
            color: color(success);
        }
    }

    /*  FAB
        ======================================== */
    &#{&}--fab#{&}-theme {
        &--primary {
            background-color: color(primary);
        }

        &--secondary {
            background-color: color(secondary);
        }

        &--warning {
            background-color: color(warning);

        }

        &--danger {
            background-color: color(danger);

        }

        &--success {
            background-color: color(success);
        }
    }

    /*  Icon
        ======================================== */
    &#{&}--icon#{&}-theme {
        &--primary {
            color: color(primary);
        }

        &--secondary {
            color: color(secondary);
        }

        &--warning {
            color: color(warning);

        }

        &--danger {
            color: color(danger);

        }

        &--success {
            color: color(success);
        }
    }

    &#{&}--icon {
        background-color: transparent;
        border-color: transparent;
    }

    /*  ================================================================================
        Block
        ================================================================================ */
    &#{&}--block {
        width: 100%;
    }

    /*  ================================================================================
        Disabled
        ================================================================================ */
    &#{&}--disabled {
        color: rgba(color(dark), 0.26) !important;
        border-color: currentColor;
        background-color: rgba(color(dark), 0.12) !important;
        box-shadow: none;
        pointer-events: none;
    }

    /*  ================================================================================
        Common
        ================================================================================ */
    &#{&}--rounded {
        border-radius: $border-radius-rounded;
    }

    &#{&}--fab,
    &#{&}--icon {
        border-radius: $border-radius-circle;
    }

    &#{&}--depressed {
        box-shadow: none;
    }

    &#{&}--fab,
    &#{&}--icon {
        padding: 0;
        min-width: 0;
        min-height: 0;
    }

    &#{&}--flat,
    &#{&}--text {
        border: none;
    }

    &:not(#{$self}--icon):not(#{$self}--text):not(#{$self}--fab) {
        border: thin solid currentColor;
    }

    &#{&}--outlined,
    &#{&}--flat,
    &#{&}--text {
        background-color: transparent;
    }

    &#{&}--icon,
    &#{&}--outlined,
    &#{&}--disabled,
    &#{&}--text {
        .c-icon {
            color: currentColor;
        }
    }
}