.primary {
  color: color(primary);
}

.secondary {
  color: color(secondary);
}

.warning {
  color: color(warning);
}

.danger {
  color: color(danger);
}

.success {
  color: color(success);
}

.light {
  color: color(light);
}

.dark {
  color: color(dark);
}
