.c-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 2.4rem;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /*  ================================================================================
        Theme
        ================================================================================ */
    &#{&} {
        &--light {
            color: color(light); 
        }

        &--dark {
            color: rgba(color(dark), .54);
        }

        &--primary {
            color: color(primary);
        }

        &--secondary {
            color: color(secondary);
        }

        &--warning {
            color: color(warning);
            color: color(warning);
        }

        &--danger {
            color: color(danger);
        }

        &--success {
            color: color(success);
        }
    }

    /*  ================================================================================
        Size
        ================================================================================ */
    &#{&} {
        &--xsmall {
            font-size: 1.8rem;
        }

        &--small {
            font-size: 2.4rem;
        }

        &--large {
            font-size: 2.8rem;
        }

        &--xlarge {
            font-size: 3.2rem;
        }
    }
}