.c-button {
  $self: &;
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: $heading-font-family;
  font-weight: 500;
  color: getColor(light);
  letter-spacing: 0.02857em;
  text-indent: 0.02857em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: $border-radius-root;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: inherit;
    border-radius: inherit;
    opacity: 0;
    pointer-events: none;
    background-color: currentColor;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  }

  &:not(#{$self}--outlined):not(#{$self}--text):hover::before {
    opacity: 0.08;
  }

  &:hover::before {
    opacity: 0.04;
  }

  &:focus::before {
    opacity: 0.12;
  }

  &__content {
    display: inherit;
    flex: 1 0 auto;
    align-items: inherit;
    justify-content: inherit;
    position: relative;
    line-height: normal;
    color: inherit;
  }

  /*  ================================================================================
        Size
      ================================================================================ */
  &#{&}-size--default:not(#{$self}--fab):not(#{$self}--icon) {
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
  }

  &#{&}-size--small:not(#{$self}--fab):not(#{$self}--icon) {
    padding: 0 12.4444444444px;
    min-width: 50px;
    height: 28px;
  }

  &#{&}-size--large:not(#{$self}--fab):not(#{$self}--icon) {
    padding: 0 19.5555555556px;
    min-width: 78px;
    height: 44px;
  }

  &#{&}-size--default,
  &#{&}-size--small {
    font-size: 1.4rem;
  }

  &#{&}-size--small {
    font-size: 1.2rem;
  }

  &#{&}-size--default:not(#{$self}--fab),
  &#{&}-size--small:not(#{$self}--fab) {
    .c-icon {
      font-size: 1.8rem;
    }
  }

  &#{&}-size--default:not(#{$self}--fab):not(#{$self}--icon),
  &#{&}-size--small:not(#{$self}--fab):not(#{$self}--icon),
  &#{&}-size--large:not(#{$self}--fab):not(#{$self}--icon) {
    .c-icon {
      margin-left: -0.4rem;
      margin-right: 0.8rem;
    }
  }

  /*    Icon
      ======================================== */
  &#{&}--icon#{&}-size--default {
    width: 3.6rem;
    height: 3.6rem;
  }

  &#{&}--icon#{&}-size--xsmall {
    width: 2rem;
    height: 2rem;

    .c-icon {
      font-size: 1.8rem;
    }
  }

  &#{&}--icon#{&}-size--small {
    width: 2.8rem;
    height: 2.8rem;
  }

  &#{&}--icon#{&}-size--large {
    width: 4.4rem;
    height: 4.4rem;

    .c-icon {
      font-size: 2.8rem;
    }
  }

  &#{&}--icon#{&}-size--xlarge {
    width: 5.2rem;
    height: 5.2rem;

    .c-icon {
      font-size: 3.2rem;
    }
  }

  /*    Fab
      ======================================== */
  &#{&}--fab#{&}-size--default {
    width: 5.6rem;
    height: 5.6rem;
  }

  &#{&}--fab#{&}-size--xsmall {
    width: 3.2rem;
    height: 3.2rem;

    .c-icon {
      font-size: 1.8rem;
    }
  }

  &#{&}--fab#{&}-size--small {
    width: 4rem;
    height: 4rem;
  }

  &#{&}--fab#{&}-size--large {
    width: 6.4rem;
    height: 6.4rem;

    .c-icon {
      font-size: 2.8rem;
    }
  }

  &#{&}--fab#{&}-size--xlarge {
    width: 7.2rem;
    height: 7.2rem;

    .c-icon {
      font-size: 3.2rem;
    }
  }

  /*  ================================================================================
        Theme
      ================================================================================ */
  &.primary {
    background-color: getColor(primary);
    border-color: getColor(primary);
  }

  &.secondary {
    background-color: getColor(secondary);
    border-color: getColor(secondary);
  }

  &.warning {
    background-color: getColor(warning);
    border-color: getColor(warning);
  }

  &.danger {
    background-color: getColor(danger);
    border-color: getColor(danger);
  }

  &.success {
    background-color: getColor(success);
    border-color: getColor(success);
  }

  /*  ================================================================================
        Type
      ================================================================================ */
  &#{&}--outlined,
  &#{&}--text,
  &#{&}--icon {
    &.primary {
      color: getColor(primary);
    }

    &.secondary {
      color: getColor(secondary);
    }

    &.warning {
      color: getColor(warning);
    }

    &.danger {
      color: getColor(danger);
    }

    &.success {
      color: getColor(success);
    }
  }

  /*  ================================================================================
        Block
      ================================================================================ */
  &#{&}--block {
    width: 100%;
  }

  /*  ================================================================================
        Disabled
      ================================================================================ */
  &#{&}--disabled {
    color: getColor(dark, .26) !important;
    border-color: currentColor;
    background-color: getColor(dark, .12) !important;
    box-shadow: none;
    pointer-events: none;
  }

  /*  ================================================================================
        Common
      ================================================================================ */
  &#{&}--rounded {
    border-radius: $border-radius-rounded;
  }

  &#{&}--fab,
  &#{&}--icon {
    border-radius: $border-radius-circle;
  }

  &#{&}--depressed {
    box-shadow: none;
  }

  &#{&}--fab,
  &#{&}--icon {
    padding: 0;
    min-width: 0;
    min-height: 0;
  }

  &#{&}--flat,
  &#{&}--text {
    border: none;
  }

  &#{&}--outlined {
    border: thin solid currentColor;
  }

  &#{&}--outlined,
  &#{&}--flat,
  &#{&}--text,
  &#{&}--icon {
    background-color: transparent;
  }

  &#{&}--icon,
  &#{&}--outlined,
  &#{&}--disabled,
  &#{&}--text {
    .c-icon {
      color: currentColor;
    }
  }
}
