<div class="container u-pad-ends">
    <!-- Contained -->
    <div class="row u-gap-bottom-large">
        <div class="col col--xs-12">
            <h1 class="headline">Contained</h1>
        </div>

        <div class="col col--xs-12">
            <VBtn label="Button" theme="primary" size="large">
                <VIcon name="translate"></VIcon>
            </VBtn>
            <VBtn label="Button" theme="secondary">
                <VIcon name="translate"></VIcon>
            </VBtn>
            <VBtn label="Button" theme="warning" size="small">
                <VIcon name="translate"></VIcon>
            </VBtn>
            <VBtn label="Button" theme="danger" size="small">
                <VIcon name="translate"></VIcon>
            </VBtn>
            <VBtn label="Button"></VBtn>
        </div>
    </div>

    <!-- Rounded -->
    <div class="row u-gap-bottom-large">
        <div class="col col--xs-12">
            <h1 class="headline">Rounded</h1>
        </div>

        <div class="col col--xs-12">
            <VBtn label="Button" variant="rounded" theme="primary" size="large">
                <VIcon name="translate"></VIcon>
            </VBtn>
            <VBtn label="Button" variant="rounded" theme="secondary">
                <VIcon name="translate"></VIcon>
            </VBtn>
            <VBtn label="Button" variant="rounded" theme="warning" size="small">
                <VIcon name="translate"></VIcon>
            </VBtn>
            <VBtn label="Button" theme="danger" variant="rounded" size="small">
                <VIcon name="translate"></VIcon>
            </VBtn>
            <VBtn label="Button" variant="rounded"></VBtn>
        </div>
    </div>

    <!-- Outlined -->
    <div class="row u-gap-bottom-large">
        <div class="col col--xs-12">
            <h1 class="headline">Outlined</h1>
        </div>

        <div class="col col--xs-12">
            <VBtn label="Button" variant="outlined" theme="primary" size="large">
                <VIcon name="translate"></VIcon>
            </VBtn>
            <VBtn label="Button" variant="outlined" theme="secondary">
                <VIcon name="translate"></VIcon>
            </VBtn>
            <VBtn label="Button" variant="outlined" theme="warning" size="small">
                <VIcon name="translate"></VIcon>
            </VBtn>
            <VBtn label="Button" theme="danger" variant="outlined" size="small">
                <VIcon name="translate"></VIcon>
            </VBtn>
            <VBtn label="Button" variant="outlined"></VBtn>
        </div>
    </div>

    <!-- Text -->
    <div class="row u-gap-bottom-large">
        <div class="col col--xs-12">
            <h1 class="headline">Text</h1>
        </div>

        <div class="col col--xs-12">
            <VBtn label="Button" theme="primary" variant="text" size="large">
                <VIcon name="translate"></VIcon>
            </VBtn>
            <VBtn label="Button" variant="text" theme="secondary">
                <VIcon name="translate"></VIcon>
            </VBtn>
            <VBtn label="Button" theme="warning" variant="text" size="small">
                <VIcon name="translate"></VIcon>
            </VBtn>
            <VBtn label="Button" theme="danger" variant="text" size="small">
                <VIcon name="translate"></VIcon>
            </VBtn>
            <VBtn label="Button" theme="primary" variant="text"></VBtn>
        </div>
    </div>

    <!-- Fab -->
    <div class="row u-gap-bottom-large">
        <div class="col col--xs-12">
            <h1 class="headline">Fab</h1>
        </div>

        <div class="col col--xs-12">
            <VBtn theme="warning" variant="fab" size="xlarge">
                <VIcon name="vpn_key"></VIcon>
            </VBtn>
            <VBtn variant="fab" size="large">
                <VIcon name="vpn_key"></VIcon>
            </VBtn>
            <VBtn variant="fab" theme="danger">
                <VIcon name="done"></VIcon>
            </VBtn>
            <VBtn variant="fab" size="small" theme="success">
                <VIcon name="mail_outline"></VIcon>
            </VBtn>
            <VBtn variant="fab" size="xsmall" theme="secondary">
                <VIcon name="lock_open"></VIcon>
            </VBtn>
        </div>
    </div>

    <!-- Icon -->
    <div class="row u-gap-bottom-large">
        <div class="col col--xs-12">
            <h1 class="headline">Icon</h1>
        </div>

        <div class="col col--xs-12">
            <VBtn theme="warning" variant="icon" size="xlarge">
                <VIcon name="vpn_key"></VIcon>
            </VBtn>
            <VBtn variant="icon" size="large">
                <VIcon name="vpn_key"></VIcon>
            </VBtn>
            <VBtn variant="icon" theme="danger">
                <VIcon name="done"></VIcon>
            </VBtn>
            <VBtn variant="icon" size="small" theme="success">
                <VIcon name="mail_outline"></VIcon>
            </VBtn>
            <VBtn variant="icon" size="xsmall" theme="secondary">
                <VIcon name="person"></VIcon>
            </VBtn>
        </div>
    </div>

    <!-- Block -->
    <div class="row u-gap-bottom-large">
        <div class="col col--xs-12">
            <h1 class="headline">Block</h1>
        </div>

        <div class="col col--xs-12">
            <VBtn label="Button" block></VBtn>
        </div>
    </div>

     <!-- Disabled -->
     <div class="row">
        <div class="col col--xs-12">
            <h1 class="headline">Disabled</h1>
        </div>

        <div class="col col--xs-12">
            <VBtn label="Button" disabled></VBtn>
            <VBtn label="Button" disabled>
                <VIcon name="airplay"></VIcon>
            </VBtn>
        </div>
    </div>
</div>