<div class="container u-pad-ends">
    <div class="row">
        <div class="col col--xs-12">
            <app-button label="Button" type="rounded" theme="primary"></app-button>
            <app-button label="Button" theme="primary" size="large"></app-button>
            <app-button label="Button" type="text" theme="primary"></app-button>
            <app-button label="Button" theme="primary" type="outlined" size="small"></app-button>
            <app-button type="fab" size="large"></app-button>
            <app-button type="fab" theme="danger"></app-button>
            <app-button type="fab" size="small" theme="success"></app-button>
            <app-button type="fab" size="x-small" theme="secondary"></app-button>
            <app-button label="Button" theme="warning" type="rounded"></app-button>
        </div>
    </div>
</div>