<div class="container u-pad-ends">
    <!-- Rounded -->
    <div class="row u-gap-bottom-large">
        <div class="col col--xs-12">
            <h1 class="headline">Contained</h1>
        </div>

        <div class="col col--xs-12">
            <app-button label="Button" theme="primary" size="large">
                <app-icon name="translate"></app-icon>
            </app-button>
            <app-button label="Button" theme="secondary">
                <app-icon name="translate"></app-icon>
            </app-button>
            <app-button label="Button" theme="warning" size="small">
                <app-icon name="translate"></app-icon>
            </app-button>
            <app-button label="Button" theme="danger" size="small">
                <app-icon name="translate"></app-icon>
            </app-button>
            <app-button label="Button"></app-button>
        </div>
    </div>

    <!-- Rounded -->
    <div class="row u-gap-bottom-large">
        <div class="col col--xs-12">
            <h1 class="headline">Rounded</h1>
        </div>

        <div class="col col--xs-12">
            <app-button label="Button" type="rounded" theme="primary" size="large">
                <app-icon name="translate"></app-icon>
            </app-button>
            <app-button label="Button" type="rounded" theme="secondary">
                <app-icon name="translate"></app-icon>
            </app-button>
            <app-button label="Button" type="rounded" theme="warning" size="small">
                <app-icon name="translate"></app-icon>
            </app-button>
            <app-button label="Button" theme="danger" type="rounded" size="small">
                <app-icon name="translate"></app-icon>
            </app-button>
            <app-button label="Button" type="rounded"></app-button>
        </div>
    </div>

    <!-- Outlined -->
    <div class="row u-gap-bottom-large">
        <div class="col col--xs-12">
            <h1 class="headline">Outlined</h1>
        </div>

        <div class="col col--xs-12">
            <app-button label="Button" type="outlined" theme="primary" size="large">
                <app-icon name="translate"></app-icon>
            </app-button>
            <app-button label="Button" type="outlined" theme="secondary">
                <app-icon name="translate"></app-icon>
            </app-button>
            <app-button label="Button" type="outlined" theme="warning" size="small">
                <app-icon name="translate"></app-icon>
            </app-button>
            <app-button label="Button" theme="danger" type="outlined" size="small">
                <app-icon name="translate"></app-icon>
            </app-button>
            <app-button label="Button" type="outlined"></app-button>
        </div>
    </div>

    <!-- Text -->
    <div class="row u-gap-bottom-large">
        <div class="col col--xs-12">
            <h1 class="headline">Text</h1>
        </div>

        <div class="col col--xs-12">
            <app-button label="Button" theme="primary" type="text" size="large">
                <app-icon name="translate"></app-icon>
            </app-button>
            <app-button label="Button" type="text" theme="secondary">
                <app-icon name="translate"></app-icon>
            </app-button>
            <app-button label="Button" theme="warning" type="text" size="small">
                <app-icon name="translate"></app-icon>
            </app-button>
            <app-button label="Button" theme="danger" type="text" size="small">
                <app-icon name="translate"></app-icon>
            </app-button>
            <app-button label="Button" theme="primary" type="text"></app-button>
        </div>
    </div>

    <!-- Fab -->
    <div class="row u-gap-bottom-large">
        <div class="col col--xs-12">
            <h1 class="headline">Fab</h1>
        </div>

        <div class="col col--xs-12">
            <app-button theme="warning" type="fab" size="xlarge">
                <app-icon name="vpn_key"></app-icon>
            </app-button>
            <app-button type="fab" size="large">
                <app-icon name="vpn_key"></app-icon>
            </app-button>
            <app-button type="fab" theme="danger">
                <app-icon name="done"></app-icon>
            </app-button>
            <app-button type="fab" size="small" theme="success">
                <app-icon name="mail_outline"></app-icon>
            </app-button>
            <app-button type="fab" size="xsmall" theme="secondary">
                <app-icon name="lock_open"></app-icon>
            </app-button>
        </div>
    </div>

    <!-- Icon -->
    <div class="row u-gap-bottom-large">
        <div class="col col--xs-12">
            <h1 class="headline">Icon</h1>
        </div>

        <div class="col col--xs-12">
            <app-button theme="warning" type="icon" size="xlarge">
                <app-icon name="vpn_key"></app-icon>
            </app-button>
            <app-button type="icon" size="large">
                <app-icon name="vpn_key"></app-icon>
            </app-button>
            <app-button type="icon" theme="danger">
                <app-icon name="done"></app-icon>
            </app-button>
            <app-button type="icon" size="small" theme="success">
                <app-icon name="mail_outline"></app-icon>
            </app-button>
            <app-button type="icon" size="xsmall" theme="secondary">
                <app-icon name="person"></app-icon>
            </app-button>
        </div>
    </div>

    <!-- Block -->
    <div class="row u-gap-bottom-large">
        <div class="col col--xs-12">
            <h1 class="headline">Block</h1>
        </div>

        <div class="col col--xs-12">
            <app-button label="Button" block></app-button>
        </div>
    </div>

     <!-- Disabled -->
     <div class="row">
        <div class="col col--xs-12">
            <h1 class="headline">Disabled</h1>
        </div>

        <div class="col col--xs-12">
            <app-button label="Button" disabled></app-button>
            <app-button label="Button" disabled>
                <app-icon name="airplay"></app-icon>
            </app-button>
        </div>
    </div>
</div>