button,
[type='button'],
[type='reset'],
[type='submit'],
[role='button'] {
  border-style: none;
  cursor: pointer;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

[disabled] {
  cursor: default;
}
